[Desktop Entry]
Version=x.y
Name=credired
Comment=This is my comment
Exec=/home/soporte/Documentos/credired20170102/credired.sh
Icon=/home/soporte/Documentos/credired20170102/Íconos/boton-actualizar.png
Terminal=false
Type=Application
Categories=Utility;Application
Name[es_AR]=credired
